<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo12.mapper.BoardMapper">


    <select id="getBoards" resultType="com.example.demo12.model.Board">
        SELECT
            board_no,
            user_id,
            title,
            TO_CHAR(drawup, 'YYYY-MM-DD') as drawup,
            reference_no,
            content
        FROM BOARDS
        ORDER BY board_no
    </select>

    <!-- 게시판 글 등록 -->
    <insert id="insertBoard" parameterType="com.example.demo12.model.Board">
        insert into BOARDS(
            user_id,
            title,
            content
        ) values (
             #{userId},
             #{title},
             #{content}
         )
    </insert>

    <!-- 조회 -->
    <select id="getBoardByBoardNo" parameterType="int" resultType="com.example.demo12.model.Board">
        SELECT
            board_no,
            user_id,
            title,
            drawup,
            reference_no,
            content
        FROM BOARDS
        where board_no = #{boardNo}
    </select>

    <!-- 게시판 글 수정 -->
    <update id="updateBoardByBoardId" parameterType="com.example.demo12.model.Board">
        update BOARDS
        set title = #{title},
            content = #{content}
        where board_no = #{boardNo}
    </update>

    <!-- 조회수 -->
    <update id="updateBoardReferenceNo" parameterType="com.example.demo12.model.Board">
        update BOARDS
        set reference_no = #{referenceNo}
        where board_no = #{boardNo}
    </update>

    <!-- 게시판 글 삭제 -->
    <delete id="deleteBoardByBoardId" parameterType="com.example.demo12.model.Board">
        delete from BOARDS
        where board_no = #{boardNo}
    </delete>
</mapper>