<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo12.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.example.demo12.model.UserVO">
        insert into USERS(
            user_id,
            password,
            email,
            name,
            birthday,
            role
        ) values (
                     #{userId},
                     #{password},
                     #{email},
                     #{name},
                     #{birthday},
                     1
                 )
    </insert>

    <!-- 아이디 조회 -->
    <select id="getUserById" resultType="com.example.demo12.model.UserVO">
        SELECT *
        FROM USERS
        WHERE user_id = #{userId}
    </select>

    <insert id="insertProfile" parameterType="com.example.demo12.model.Profile">
        INSERT INTO profiles (
            user_id,
            d_job,
            comments,
            education
        ) VALUES (
            #{userId},
            #{job},
            #{comments},
            #{education}
        )
    </insert>



    <insert id="insertHistory" parameterType="com.example.demo12.model.Profile">
        INSERT INTO historys (
        user_id,
        course_no
        ) VALUES (
        'anica',
        #{courseNo}
        )
    </insert>

    <select id="getProfile" parameterType="String" resultType="com.example.demo12.model.Profile">
        SELECT *
        FROM profiles
        WHERE user_id = #{userId}
    </select>

</mapper>